.title
{
    font-size: 3rem;
    position: relative;
    left: 6.5rem;
}

.reqtitle 
{
    font-size:3rem;
}

.others
{
    position: relative;
    top: 2rem;
    font-size:1rem;
}

body
{
    background-color: lightseagreen;
}