.title
{
    font-family: Georgia, sans-serif;
    font-size: 5rem;
    position: relative;
    left: 6.5rem;
}

.others
{
    position: relative;
    top: 2rem;
    font-size:1rem;
}

body
{
    background-color: lightgrey;
}
button
{
    width: 20rem;
    height: 3rem;
}