.title
{
    font-family: Georgia, sans-serif;
    font-size: 5rem;
    position: relative;
    left: 6.5rem;
}
.items
{
    position: relative;
    width: 40rem;
    height: 15rem;
    font-size: 4rem;
}
body
{
    background-color: lightgrey;
}
button
{
    width: 20rem;
    height: 3rem;
}